dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

ParadigmasTps/.idea/libraries/base_4_13_0_0.xml

ParadigmasTps/.idea/

*.yaml

ParadigmasTps/ChangeLog.md

*.lock

ParadigmasTps/ParadigmasTps.cabal

ParadigmasTps/ParadigmasTps.iml

.idea/
